<h1 class="h1 mb-3 text-center">Welcome to SpaceBnB !</h1>

<p class="mb-300">
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    <br><br>
    Thanks you for the registration !
</p>