{% extends 'base.html.twig' %}

{% block title %}Verify email sended{% endblock %}

{% block body %}
    <p>A verify email has been sent to you, click on the verify link to validate your account</p>
    <a href="{{ path('app_verify_email_sent', {
        'uuid': userUuid,
        'resend': 'true',
    }) }}">Resend Verify Email</a>
{% endblock %}
