{% set attr = attr is defined ? attr : [] %}

{{ form_label(input) }}
<div class="input-group {{ form_errors(input) ? 'input-error' : '' }}">
    {{ form_widget(input, {'attr': {'class': 'input'}|merge(attr) }) }}
</div>
<div class="input-error-message">
    {{ form_errors(input) }}
</div>