{% set attr = attr is defined ? attr : [] %}
<div class="flex-column gap-100">
    <div class="input-group-password">
        {{ form_widget(input, {'attr': {'class': 'input'}|merge(attr) }) }}
        <div class="color-dark-matter container-pwd password-toggle">
            {{ bootstrap_icon('eye') }}
        </div>
        <div class="color-dark-matter container-pwd password-toggle-off">
            {{ bootstrap_icon('eye-slash') }}
        </div>
    </div>
</div>
<div class="input-error-message">
    {{ form_errors(input) }}
</div>

<script>
    const eye = document.querySelector(".password-toggle");
    const eyeOff = document.querySelector(".password-toggle-off");
    const passwordField = document.querySelector("#registration_form_plainPassword");

    eye.addEventListener("click", () => {
        eye.style.display = "none";
        eyeOff.style.display = "block";
        passwordField.type = "text";
    });

    eyeOff.addEventListener("click", () => {
        eyeOff.style.display = "none";
        eye.style.display = "block";
        passwordField.type = "password";
    });
</script>