{% set attr = attr is defined ? attr : [] %}

<div class="input-group input-group-password">
    {{ form_widget(input, {'attr': {'class': 'input'}|merge(attr) }) }}
    <div class="icon-container">
        <div class="color-dark-matter password-toggle">
            {{ bootstrap_icon('eye') }}
        </div>
        <div class="color-dark-matter password-toggle-off">
            {{ bootstrap_icon('eye-slash') }}
        </div>
    </div>
</div>
<div class="input-error-message">
    {{ form_errors(input) }}
</div>

