{% set attr = attr is defined ? attr : [] %}

<div class="flex-row gap-100">
    <div class="flex-row gap-50">{{ form_label(input) }} {% if input.vars.required %}*{% endif %}</div>
    <div class="input-group {{ form_errors(input) ? 'input-error' : '' }}">
        {{ form_widget(input, {'attr': {'class': 'input'}|merge(attr) }) }}
    </div>
    <div class="input-error-message">
        {{ form_errors(input) }}
    </div>
</div>