{% extends 'front/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block main %}
    <div class="h-100 flex-column align-center justify-center gap-300">
    <span>
        If an account matching your email exists, then an email was just sent for reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </span>
        <span>If you don't receive an email please check your spam folder or
        <a href="{{ path('app_forgot_password_request') }}">try again</a>.
    </span>
    </div>
{% endblock %}
