{% extends 'front/base.html.twig' %}

{% block main %}
    <section class="flex-column column-400 mx-auto text-center justify-center align-center">
        <h4 class="mb-300 text-center"> {{ 'your_rentals' | trans }}</h4>
    </section>
{% endblock %}
