@import "variables";

.badge {
	padding: 4px 8px;
	border-radius: 20px;
	font-size: $fs-100;
	white-space: nowrap;
	text-decoration: none;
	color: unset;
	background-color: unset;
	border: unset;

	&-primary {
		background-color: $alnitak;
		color: $dark-matter;
	}
}