@import "variables";

.badge {
	padding: 4px 8px;
	border-radius: 20px;
	font-size: $fs-100;
	white-space: nowrap;
	text-decoration: none;
	color: unset;
	background-color: unset;
	border: unset;
	display: flex;
	align-items: center;

	&-primary {
		background-color: $alnitak;
		color: $dark-matter;
	}

	&-secondary {
		font-size: $fs-300;
		background-color: $betelgeuse;
		color: $dark-matter;
	}

	&-secondary-small {
		background-color: $betelgeuse;
		color: $dark-matter;
	}

}