@import "variables";

.input {
	&:focus-visible {
		outline: transparent;
	}

	::placeholder {
		color: $vega;
	}
}

.input-group {
	background-color: $procyon;
	border: 1px solid $rigel;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	gap: $spacing-100;

	.input {
		background: transparent;
		border: none;
		font-size: $fs-300;
		padding: $spacing-200;
		width: 100%;
	}

	.icon-container {
		padding: $spacing-100 $spacing-200;
		color: $dark-matter;
	}
}
