{% extends 'front/rental/base.html.twig' %}

{% block title %}{{ rental.celestialObject }} in {{ rental.celestialObject }} - Spacebnb{% endblock %}

{% block main %}
    <div class="flex-column gap-100">
        <h5>{{ "access" | trans }}</h5>

        <ul>
            {% for transport in transports %}
                <li>{{ transport.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
