{% extends 'front/rental/base.html.twig' %}

{% block title %}{{ rental.rentType.value | trans }} in {{ rental.celestialObject | trans }} - Spacebnb{% endblock %}

{% block main %}
    <div class="flex-column gap-100">
        <h5>{{ "reviews" | trans }}</h5>

        TODO
    </div>
{% endblock %}
