{% extends 'base.html.twig' %}

{% block body %}
    {{ component('header') }}

    <main class="container">
        {% block main %}{% endblock %}
    </main>

    {{ component('navbar', {
        item1: "home" | trans,
        item2: "bookings" | trans,
        item3: "housings" | trans,
        item4: "account" | trans,
    }) }}
{% endblock %}
