{% extends 'back/base.html.twig' %}

{% block main %}
    <div class="column-700 mx-auto gap-200 flex-column">
        <h2>To validate</h2>
        {% for request in pendingRequests %}
            {{ include('back/lessor/requests/_request-card.html.twig', {request: request}) }}
        {% endfor %}
    </div>
{% endblock %}
