{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="flex-column gap-300 account">
        <div class="flex-column align-center justify-center gap-300">
            <div class="flex-row align-center justify-center gap-200">
                <div>
                    <h4 class="text-center">Hello <span>Norbert</span></h4>
                </div>
                <div>{{ bootstrap_icon("pencil") }}</div>
            </div>
            <div>
                norbert.gloupurp@galactimail.mars
            </div>
        </div>
    </div>
{% endblock %}
